<template>
    <div class="row">
        <div class="col-12">
          <Top />
          <Content />
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import WizzardTop from './WizzardTop.vue'
import WizzardContent from './WizzardContent.vue'

@Component({
  components: {
    Top: WizzardTop,
    Content: WizzardContent
  }
})
export default class Wizzard extends Vue {
}
</script>

<style lang="scss">
.q-badge {
  color: black;
  background-color: transparent;
}
</style>
