<template>
  <div class="row">
    <div class="col-12">
      <Logo />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import Logo from 'components/Logo.vue'

@Component({
  components: {
    Logo
  }
})
export default class WizzardTop extends Vue {}
</script>

<style lang="scss">
</style>
