﻿<template>
  <div class="row">
    <q-card class="my-card bg-white text-black q-mx-auto">
      <q-card-section>
        <div class="text-h5 text-sm-h2 q-my-lg text-center">{{ title }}</div>
        <q-stepper v-model="step" ref="stepper" contracted animated active-color="orange-7">
          <q-step :name="1" prefix="1" title="Na początek dodaj kilka maszyn lub operacji">
            <div
              class="text-h5 q-my-lg text-center"
            >Każdy z nich stanie się listą, na którą będziesz układać pracowników</div>

            <q-form @submit="onSubmit">
              <div v-for="(operation, index1) in operations" :key="index1" class="row">
                <div class="col-12 col-sm-11 q-px-md">
                  <q-input
                    v-model="operation.name"
                    label="Nazwa"
                    placeholder="np.: Maszyna 1"
                    color="orange-7"
                    :key="index1"
                    lazy-rules
                    :rules="[ val => requireRule(val)]"
                  />
                </div>
                <div class="col-12 col-sm-1 q-pt-sm text-right">
                  <q-icon name="delete" size="md" @click="deleteField(index, operations)" />
                </div>
              </div>

              <div class="row justify-end">
                <q-icon
                  name="add_circle"
                  size="md"
                  @click="addField('operations')"
                  class="q-mt-md"
                />
              </div>

              <div class="q-my-md">
                <q-btn flat color="orange-7" :label="'Dalej'" type="submit" />
              </div>
            </q-form>
          </q-step>

          <q-step :name="2" prefix="2" title="Dodaj kilku pracowników produkcji">
            <div
              class="text-h5 q-my-lg text-center"
            >PIN-y zastepują podpisy - możesz je później zmienić lub użyć breloczków RFID</div>

            <q-form @submit="onSubmit">
              <div v-for="(employee, index2) in employees" :key="index2">
                <div class="row">
                  <div class="col-12 col-sm-4 q-pr-md">
                    <q-input
                      v-model="employee.name"
                      label="Imię"
                      color="orange-7"
                      :rules="[ val => requireRule(val), val => lengthRule(val, 3)]"
                    ></q-input>
                  </div>
                  <div class="col-12 col-sm-4 q-pr-md">
                    <q-input
                      v-model="employee.surname"
                      label="Nazwisko"
                      color="orange-7"
                      :rules="[ val => requireRule(val), val => lengthRule(val, 3)]"
                    ></q-input>
                  </div>
                  <div class="col-12 col-sm-3 q-pr-md">
                    <q-input
                      v-model="employee.pin"
                      label="PIN"
                      color="orange-7"
                      placeholder="1234"
                      :rules="[ val => numberRule(val), val => lengthRule(val, 4)]"
                    ></q-input>
                  </div>
                  <div class="col-12 col-sm-1 q-pt-sm text-right">
                    <q-icon name="delete" size="md" @click="deleteField(index2, employees)" />
                  </div>
                </div>
              </div>
              <div class="row justify-end">
                <q-icon name="add_circle" size="md" @click="addField('employees')" class="q-mt-md" />
              </div>

              <div class="q-my-md">
                <q-btn flat color="orange-7" :label="'Dalej'" type="submit" />
                <q-btn flat color="orange-7" :label="'Wstecz'" @click="prevStep" />
              </div>
            </q-form>
          </q-step>

          <q-step :name="3" prefix="3" title="To już prawie koniec">
            <div
              class="text-h5 q-my-lg text-center"
            >Dodaj opcje maszyny przez jakie przejść ma komputer</div>
            <q-form @submit="onSubmit">
              <div class="row">
                <div class="col-11 q-px-md">
                  <q-select
                    filled
                    v-model="setup"
                    multiple
                    :options="selectOptions()"
                    label="Maszyna/Operacja"
                    color="orange-7"
                    :rules="[ val => requireRule(val)]"
                  />
                </div>
                <div class="col-1 q-pt-sm text-right">
                  <q-icon name="error" size="md">
                    <q-tooltip
                      v-model="tooltip"
                      transition-show="rotate"
                      transition-hide="rotate"
                      color="black text-white"
                      anchor="top middle"
                      self="top middle"
                    >
                      <div class="q-mt-md">*Możesz kliknąć na więcej niż jedną maszynę, by ją dodać</div>
                      <div
                        class="q-mt-md"
                      >*Możesz usunąć maszynę, klikajac na nią ponownie w w rozwijanej liście</div>
                    </q-tooltip>
                  </q-icon>
                </div>
              </div>

              <div class="q-my-md">
                <q-btn flat color="orange-7" :label="'Dalej'" type="submit" />
                <q-btn flat color="orange-7" :label="'Wstecz'" @click="prevStep" />
                <q-btn
                  flat
                  color="orange-7"
                  @click="$refs.stepper.goTo(1) "
                  label="Dodaj operację/maszynę"
                  class="q-ml-sm"
                  style="float:right"
                />
              </div>
            </q-form>
          </q-step>

          <q-step :name="4" prefix="4" title="Twoje konto jest gotowe">
            <div
              class="text-h5 q-my-lg text-center"
            >Zanim zaczniemy przygodę z usprawnieniem twojej produkcji, zostaw proszę informację jakie pomoga współdziałać lepiej</div>

            <q-form @submit="onSubmit">
              <q-input v-model="company.name" label="Imię" class="q-mb-sm" color="orange-7" :rules="[ val => requireRule(val), val => lengthRule(val, 3)]"></q-input>
              <q-input v-model="company.surname" label="Nazwisko" class="q-mb-sm" color="orange-7" :rules="[ val => requireRule(val), val => lengthRule(val, 3)]"></q-input>
              <q-input
                v-model="company.employees"
                label="Ilość Pracowników produkcji"
                class="q-mb-sm"
                color="orange-7"
                :rules="[val => requireRule(val), val => numberRule(val) ]"
              ></q-input>
              <q-input v-model="company.phone" label="Telefon" class="q-mb-sm" color="orange-7" :rules="[val => requireRule(val), val => numberRule(val) ]"></q-input>
              <div class="text-h5 q-my-lg text-center">Która z branż jest tobie najbliższa</div>
              <div v-for="(brand, index4) in brandsList" :key="index4">
                <q-radio
                  v-model="company.brand"
                  :val="brand"
                  :label="brand"
                  :key="index4"
                  color="orange-7"
                />
              </div>
              <div>
                <q-btn flat color="orange-7" :label="'Zakończ'" type="submit" @click="save"/>
                <q-btn flat color="orange-7" :label="'Wstecz'" @click="prevStep" />
              </div>
            </q-form>
          </q-step>
        </q-stepper>
      </q-card-section>
    </q-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import axios from 'axios'

import { Operation } from '../../models/OparationTypes'
import { Employee } from '../../models/EmployeeTypes'
import { Company } from '../../models/CompanyTypes'

@Component
export default class WizzardContent extends Vue {
  title: string = 'Na początek dodaj kilka maszyn lub operacji';
  tooltip: boolean = false;
  step: number = 1;
  accept: boolean = false;
  setup: string[] = []

  operations: Operation[] = [
    {
      name: ''
    }
  ];

  employees: Employee[] = [
    {
      name: '',
      surname: '',
      pin: null
    }
  ];

  company: Company = {
    name: '',
    surname: '',
    employees: null,
    phone: null,
    brand: ''
  };

  brandsList: string[] = [
    'Elementy metalowe / usługi CNC',
    'Poligrafia / Reklama',
    'Opakowania tekturowe',
    'Elementy z tworzyw',
    'Elementy elastrometrowe',
    'Narzędziownia',
    'Stolarka drzwiowa / okienna',
    'Produkcja maszyn / urządzeń',
    'Usługi in nakłądania powłok',
    'Meble Kuchenne',
    'Kamieniarstwo'
  ];

  onSubmit (): void {
    if (this.accept !== true) {
      this.$q.notify({
        color: 'red-5',
        textColor: 'white',
        icon: 'warning',
        message: 'You need to accept the license and terms first'
      })
    } else {
      this.$refs.stepper.next()
      this.setStepTitle(this.step)
    }
  }

  prevStep (): void{
    this.$refs.stepper.previous()
    this.setStepTitle(this.step)
  }

  requireRule (val: string): string | boolean {
    if (val && val.length > 0) {
      this.accept = true
      return true
    } else {
      this.accept = false
      return 'Pole nie może być puste'
    }
  }

  lengthRule (val: string | number, len: number): string | boolean {
    if (val.toString().length >= len) {
      this.accept = true
      return true
    } else {
      this.accept = false
      return 'Pole wymaga minimum ${len} znaków'
    }
  }

  numberRule (val: number): string | boolean {
    if (!isNaN(val)) {
      this.accept = true
      return true
    } else {
      this.accept = false
      return 'Pole wymaga liczb'
    }
  }

  setStepTitle (step: number): void {
    switch (step) {
      case 1:
        this.title = 'Na początek dodaj kilka maszyn lub operacji'
        break
      case 2:
        this.title = 'Dodaj kilku pracowników produkcji'
        break
      case 3:
        this.title = 'To już prawie koniec'
        break
      case 4:
        this.title = 'Twoje konto jest gotowe'
        break
      default:
        this.title = 'Na początek dodaj kilka maszyn lub operacji'
    }
  }

  selectOptions (): string[] {
    const namesList: string[] = []
    this.operations.forEach((item) => {
      namesList.push(item.name)
    })
    return namesList
  }

  addField (field: any): void {
    switch (field) {
      case 'operations':
        this.operations.push({ name: '' })
        break
      case 'employees':
        this.employees.push({
          name: '',
          surname: '',
          pin: null
        })
        break
      default:
        this.active = 'first'
    }
  }

  deleteField (id: number, obiect: any): void {
    if (obiect.length > 1) {
      obiect.splice(id, 1)
    }
  }

  operationsSave (item: Operation[]) {
    // eslint-disable-next-line @typescript-eslint/no-for-in-array
    for (const i in item) {
      axios.post('http://localhost:5000/operation/add', item[i])
        .then(function (response) {
        // console.log(response);
        })
        .catch(function (error) {
          console.log('error', error)
        })
    }
  }

  employeesSave (item: Employee) {
    for (const i in item) {
      axios.post('http://localhost:5000/employee/add', item[i])
        .then(function (response) {
        // console.log(response);
        })
        .catch(function (error) {
          console.log('error', error)
        })
    }
  }

  companySave (item: Company) {
    axios.post('http://localhost:5000/company/add', item)
      .then(function (response) {
        // console.log("response", response);
      })
      .catch(function (error) {
        console.log('error', error)
      })
  }

  setUpSave (item: string) {
    axios.post('http://localhost:5000/setup/add', item)
      .then(function (response) {
        // console.log(response);
      })
      .catch(function (error) {
        console.log('error', error)
      })
  }

  setUpData (setup: string[]): void{
    const that = this

    axios.get('http://localhost:5000/operation')
      .then(function (response) {
        for (const i in response.data) {
          // eslint-disable-next-line @typescript-eslint/no-for-in-array
          for (const j in setup) {
            if (setup[j] === response.data[i].name) {
              that.setUpSave(response.data[i]._id)
            }
          }
        }
      })
      .catch(function (error) {
        console.log(error)
      })
      .then(function () {
      // always executed
      })
  }

  save (): void{
    this.operationsSave(this.operations)
    this.employeesSave(this.employees)
    this.companySave(this.company)

    this.setUpData(this.setup)
  }
}

</script>

<style lang="scss">
.my-card {
  width: 100%;
  max-width: 800px;
}
</style>
