<template>
    <div class="logo q-mx-auto q-my-lg"></div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class Logo extends Vue {}
</script>

<style lang="scss">
.logo {
    width: 158px;
    height: 50px;
    background-image: url('~assets/img/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
</style>
